.sliding {
    width: 100%;
    max-width: 960px;
    margin: 200px auto;
    position: relative;
  }
  
  .sliding .item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
    cursor: pointer;
  }
  
  .sliding .popup {
    position: absolute;  
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.4);
    z-index: 10;
    opacity: 0;
  }
  